:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h3 {
  background-color: #2bbde2;
  color: black;
}

body {
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 600px;
  height: auto;
  color: white;
}
